.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: min-content auto;
    height: calc(100vh - 70px);
  }

.hint {
  display: flex;
  position: relative;
  top: 10em;
  left: 2em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
}

.left-components {
  grid-column : 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  margin-top: 0em;
  margin-left: 1em;
  padding-top: 0em;
  padding-left: 0.5em;
  padding-right: 1em;

}

.center-components {
  grid-column : 2 / span 1;
  grid-row: 1 / span 1;
  height: calc(100vh - 70px);
  overflow: scroll
}

